@include font-face('Franklin', '/fonts/franklin/franklin-normal-400', 400, normal, woff2);
@include font-face('Franklin', '/fonts/franklin/franklin-normal-500', 500, normal, woff2);
@include font-face('Franklin', '/fonts/franklin/franklin-normal-600', 600, normal, woff2);
@include font-face('Franklin', '/fonts/franklin/franklin-normal-700', 700, normal, woff2);
@include font-face('Karnak', '/fonts/karnak/karnakcondensed-normal-700', 700, normal, woff2);
