.formkit-outer {
  & + .formkit-outer {
    margin-top: spacing('m');
  }

  label {
    font-size: 16px;
    display: block;
    margin-bottom: spacing('xs');

    @include breakpoint('medium') {
      font-size: 18px;
    }
  }
}

.formkit-outer[data-invalid='true'] {
  input:not(:disabled) {
    border-color: rgb(224, 0, 0);

    &:focus {
      box-shadow: 0 0 0 4px rgb(242, 166, 166);
    }
  }
}

.formkit-messages {
  padding: 0;
  margin-top: spacing('xs');
  font-size: 16px;
}

.formkit-message {
  list-style-type: none;

  &[data-message-type='validation'] {
    color: rgb(224, 0, 0);
  }
}

input {
  font-family: inherit;
  font-size: 18px;
  border: 2px solid black;
  border-radius: border-radius('default');
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus:not(:disabled) {
    outline: 0;
    border-color: rgb(48, 48, 255);
    box-shadow: 0 0 0 4px rgb(174, 174, 255);
  }

  &:disabled {
    border-color: color('grey-light');
    background: #f2f2f2;
    cursor: not-allowed;
  }
}

input[type='text'],
input[type='password'],
input[type='email'] {
  padding: spacing('s');
  display: block;
  width: 100%;
}

button.formkit-input[type='submit'] {
  font-size: 20px;
  padding: 14px 20px;
  background: color('grey-dark');
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  transition: transform 0.2s;

  &:disabled {
    cursor: not-allowed;
    background: #cdcdcd;
  }

  &:active:not(:disabled) {
    transform: scale(0.95);
  }
}

.formkit-inner {
  position: relative;
  display: flex;
  align-items: center;
}

.formkit-icon {
  position: absolute;
  right: spacing('s');
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    color: blue;
  }

  svg {
    display: block;
  }
}
