.formkit-outer + .formkit-outer {
  margin-top: spacing('m');
}

.formkit-outer[data-invalid='true'] {
  input {
    border-color: rgb(224, 0, 0);

    &:focus {
      box-shadow: 0 0 0 4px rgb(242, 166, 166);
    }
  }
}

.formkit-messages {
  padding: 0;
  margin-top: spacing('xs');
  font-size: 16px;
}

.formkit-message {
  list-style-type: none;

  &[data-message-type='validation'] {
    color: rgb(224, 0, 0);
  }
}
