.formkit-outer {
  & + .formkit-outer {
    margin-top: spacing('m');
  }

  label {
    font-size: 16px;
    display: block;
    margin-bottom: spacing('xs');

    @include breakpoint('medium') {
      font-size: 18px;
    }
  }
}

.formkit-outer[data-invalid='true'] {
  input:not(:disabled) {
    border-color: color('red-300');

    &:focus {
      box-shadow: 0 0 0 4px color('red-100');
    }
  }
}

.formkit-outer[data-disabled='true'] {
  .formkit-icon {
    pointer-events: none;
    color: color('grey-200');
  }
}

.formkit-messages {
  padding: 0;
  margin-top: spacing('xs');
  font-size: 16px;
}

.formkit-message {
  list-style-type: none;

  &[data-message-type='validation'] {
    color: color('red-300');
  }
}

input {
  font-family: inherit;
  font-size: 18px;
  border: 2px solid color('grey-600');
  border-radius: border-radius('default');
  transition: border-color 0.2s, box-shadow 0.2s;
  color: color('black');

  &::placeholder {
    color: color('grey-500');
  }

  &:focus:not(:disabled) {
    outline: 0;
    border-color: color('blue-300');
    box-shadow: 0 0 0 4px color('blue-200');
  }

  &:disabled {
    border-color: color('grey-200');
    background: color('grey-100');
    color: color('grey-200');
    cursor: not-allowed;

    &::placeholder {
      color: color('grey-200');
    }
  }

  @include hover-only {
    &:hover:not(:disabled) {
      border-color: color('blue-300');
    }
  }
}

input[type='text'],
input[type='password'],
input[type='email'] {
  padding: spacing('s');
  display: block;
  width: 100%;
}

input[type='password'] {
  padding-right: spacing('s') + 30px;
}

button.formkit-input[type='submit'] {
  font-size: 18px;
  padding: 14px 20px;
  background: color('grey-600');
  color: color('white');
  border-radius: 8px;
  transition: transform 0.3s;
  @include var-font-weight(500);

  @include breakpoint('medium') {
    font-size: 20px;
  }

  &:disabled {
    cursor: not-allowed;
    background: color('grey-200');
  }

  &:active:not(:disabled) {
    transform: scale(0.95);
  }
}

.formkit-inner {
  position: relative;
  display: flex;
  align-items: center;
}

.formkit-icon {
  position: absolute;
  right: spacing('s');
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: color('grey-600');

  @include hover-only {
    &:hover {
      cursor: pointer;
      color: color('blue-300');
    }
  }

  svg {
    display: block;
  }
}
