html {
  height: -webkit-fill-available;
  overflow: hidden;
}

html,
body {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

#__nuxt,
body {
  height: 100%;
  margin: 0;
}

main {
  position: relative;
  overflow: auto;
  overscroll-behavior: contain;
  height: 100%;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: color('black');
  font-size: 17px;
  background: color('grey-100');

  @include breakpoint('large') {
    font-size: 18px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
}

a {
  color: color('black');
  text-decoration: none;
}

button {
  appearance: none;
  outline: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  text-align: inherit;

  &:disabled {
    cursor: not-allowed;
  }
}

.select-wrapper {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    right: spacing('s');
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-2%7Bfill:none;fill-rule:evenodd;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cpolyline class='cls-2' points='14.05 5.75 8 11.79 1.95 5.75'/%3E%3C/svg%3E");
  }
}

select {
  appearance: none;
  background: color('white');
  color: color('black');
  border: 2px solid color('grey-600');
  border-radius: 4px;
  padding: spacing('xs') spacing('l') spacing('xs') spacing('s');
  font-size: 14px;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 0 2px color('black');
  }
}

.text-link {
  color: color('blue-300');
  text-decoration: underline;
}

h1 {
  line-height: 1.2em;
}

.font-inter {
  font-family: 'Inter';
}

.font-dseg {
  font-family: 'DSEG';
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
