.slide-fade-y-enter-active {
  transition: all 0.3s;
}

.slide-fade-y-leave-active {
  transition: all 0.3s;
}

.slide-fade-y-enter-from,
.slide-fade-y-leave-to {
  transform: translateY(spacing('s'));
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s cubic-bezier(0.17, 0.84, 0.44, 1);
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(0.17, 0.84, 0.44, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-8px);
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
