@use 'sass:map';

$colors: (
  'beige': #efefe6,
  'black': #000000,
  'blue': #b0c4ef,
  'green': #a0c35a,
  'grey-dark': #404040,
  // grey-500 (darkest)
  'grey': #5a594e,
  'grey-100': #efefef,
  'grey-light': #7f7f7f,
  'grey-medium': #82837a,
  'grey-very-light': #bdbdbd,
  'red': #ff6961,
  'red-light': #ffc8c8,
  'violet': #ba81c5,
  'white': #ffffff,
  'yellow': #f9df6d,
  'green-dark': #0f882b,
  'green-light': #cffad9,
);

$border-radius: (
  'default': 8px,
  'large': 16px,
);

$default-border-width: 4px;

$borders: (
  'default': $default-border-width solid map.get($colors, 'white'),
);

$box-shadows: (
  'default': 0 0 8px black,
);

$breakpoints: (
  'default': 0px,
  'small': 480px,
  'medium': 768px,
  'large': 1024px,
  'xlarge': 1440px,
  'xxlarge': 1920px,
);

/* always use font-weight: font-weight(700) or font-weight: font-weight('bold'), but never directly as font-weight: 700, as you would be able to reference font-weights that are not included and will be rendered by using a different weight */
/* only works with Nunito as GT Maru is a variable font and has a separate mixin */
$font-weights: (
  'regular': 400,
  'bold': 700,
  400: 400,
  700: 700,
);

$spacings: (
  'xxl': 64px,
  'xl': 32px,
  'l': 24px,
  'm': 16px,
  's': 12px,
  'xs': 8px,
  'xxs': 4px,
  'xxxs': 2px,
);
